name: Render & Deploy Quarto Book

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render book
        run: quarto render

      - name: Deploy to gh-pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          force: true
